accelerate==1.9.0
aiohttp==3.12.15
anthropic==0.62.0
auto_gptq==0.7.1
beautifulsoup4==4.13.4
bert_score==0.3.13
codecarbon==3.0.4
datasets==3.6.0
deepsparse==1.9.0
dill==0.3.8
emoji==2.14.1
evaluate==0.4.5
filelock==3.18.0
fugashi==1.5.1
fuzzywuzzy==0.18.0
gptqmodel==2.2.0
hf_transfer==0.1.9
html2text==2025.4.15
httpx==0.28.1
huggingface_hub==0.34.3
immutabledict==4.2.1
jieba==0.42.1
Jinja2==3.1.6
jsonlines==4.0.0
jsonschema==4.25.0
kstar_planner==1.4.6
langcodes==3.5.0
langdetect==1.0.9
lark==1.2.2
lightning==2.5.2
mamba_ssm==2.2.5
math_verify==0.8.0
more_itertools==10.7.0
nemo==7.2.4
neologdn==0.5.4
nltk==3.9.1
numpy==2.3.2
omegaconf==2.3.0
optimum==1.27.0
packaging==25.0
pandas==2.3.1
pddl==0.4.3
peft==0.17.0
Pillow==11.3.0
promptsource==0.2.3
psutil==7.0.0
pycountry==24.6.1
pytablewriter==1.2.1
pytest==8.4.1
python-dotenv==1.1.1
PyYAML==6.0.2
PyYAML==6.0.2
radgraph==0.1.18
ray==2.48.0
regex==2025.7.34
Requests==2.32.4
rouge==1.0.1
rouge_score==0.1.2
sacrebleu==2.5.1
sae_lens==6.5.3
scikit_learn==1.7.1
scipy==1.16.1
setuptools==59.6.0
sglang==0.4.10.post2
sparseml==1.9.0
sparsify==1.7.0
sqlitedict==2.1.0
sympy==1.14.0
tarski==0.8.2
tenacity==9.1.2
tiktoken==0.11.0
torch==2.7.1
tqdm==4.67.1
tqdm_multiprocess==0.0.11
transformer_lens==2.16.1
transformers==4.55.0
vllm==0.10.0
wandb==0.21.1
wonderwords==2.2.0
word2number==1.1
zeno_client==0.1.16
zstandard==0.23.0
